
.gallery-container {
    
    width: 90%;
    margin: 0 auto;
    padding: 2rem;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
    background-color: white;
}

.gallery-container img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 6px;
    aspect-ratio: 3/2;
    object-fit: cover;
}
