body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/beige-tiles.png");

}

.logo {
    width: 50px;
    height: 50px;
}

.navbar {
    background-color: rgb(201, 142, 212);
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;
    opacity: 0.9;

}

.title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-left: 10%;
    border-radius: 0.75rem;
    background-color: rgb(201, 142, 212);
    width: 80%;
    height: 150px;
}

.title img {

    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.main {

    width: auto;
    height: 600px;
    min-height: 40vh;
    /* Ensure the section takes at least the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 44.12%;
    margin-top: 100px;
    border-radius: 0.75rem;
    background-image: url("../images/billete5colonea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* Center the background image */

}

.semanas {
    background-color: rgb(255, 231, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px;
    margin-top: 100px;
    border-radius: 0.75rem;
}

.semanas img {

    width: auto;
    height: 468px;
}



.card {
    width: 600px;
    margin-top: 50px;
    height: 800px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas para las imágenes */

    /* Espacio entre las imágenes */
}

.card-img-container img {
    width: 100%;
    /* Establecer el ancho al 100% para que todas las imágenes tengan el mismo ancho */
    height: 230px;
    /* Esto asegura que las imágenes mantengan su relación de aspecto original */
}

.card-img-container2 {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.card-img-container2 img {
  width: 100%;
  height: 100px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.billete {
    width: auto;
    height: 600px;
    min-height: 40vh;
    /* Ensure the section takes at least the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 44.12%;
    margin-top: 100px;
    border-radius: 0.75rem;
    background-image: url("../images/billeteatras.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* Center the background image */
}


/*************************************************************************************************/


/*************************************************************************************************/

footer {
    width: 100%;
    background-color: rgb(201, 142, 212);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    border-radius: 0.75rem;

}



footer article {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.rights {
    display: flex;
    text-align: center;
    flex-flow: column;
}

footer img {
    width: 10px;
    height: 10px;
    padding-right: 5px;
}

.footerlist img {
    width: 60px;
    height: 60px;
}

/* For screens with a maximum width of 768px */
@media (max-width: 768px) {
    .navbar {
        text-align: center;
        padding: 5px;
        position: fixed;
        z-index: 999;
        opacity: 0.9;
    }

    .title {

        margin-top: 150px;
        margin-left: 10%;
        border-radius: 0.75rem;
        background-color: rgb(201, 142, 212);
        width: 80%;
        height: 120px;
        padding: 15px;
        font-size: smaller;
        text-align: center;
    }


    .semanas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
        padding: 0px;
        margin-top: 50px;



        /* Adjust padding for smaller screens */
    }

    .semanas article:last-child {
        margin-bottom: 50px;
        /* Cambia el valor según tus necesidades */
    }

    .main {
        margin-top: 50px;
        width: auto;
        min-width: 5vh;
        height: auto;
        min-height: 10vh;



        /* Reset padding for larger screens */

    }

    .card {
        width: 20rem;
        /* Make cards full width on smaller screens */
        /* Limit the maximum width of the card */
        height: auto;
    }

    .card img {
        height: 200px;
    }

    .billete {
        width: auto;
        min-width: 10vh;
        height: auto;
        min-height: 10vh;

    }

    footer {
        padding: 10px;
    }

    /* Add more specific styles as needed for smaller screens */
}

/* For screens with a minimum width of 769px */
@media (min-width: 769px) {
    .navbar {
        padding: 10px;
        /* Reset padding for larger screens */
    }

    .main,
    .semanas {
        padding: 80px;
        /* Reset padding for larger screens */
    }

    .main {
        min-height: 80vh;
    }


    .card {
        width: 40rem;
        /* Reset card width for larger screens */
    }

    footer {
        padding: 60px;
        /* Reset padding for larger screens */
    }

    /* Add more specific styles as needed for larger screens */
}


/* Tamaño por defecto pantallas (1280-1024) */
@media all and (min-width: 1024px) and (max-width: 1280px) {}

/* Tamaño tablet horizontal (1024-768) */
@media all and (min-width: 768px) and (max-width: 1024px) {}

/* Tamaño tablet (768-480) */
@media all and (min-width: 480px) and (max-width: 768px) {}

/* Tamaño teléfonos (480-menos ) */
@media all and (max-width: 480px) {}

/*  Orientación: Vertical */
@media screen and (orientation:portrait) {}

/* Orientación: Horizontal  */
@media screen and (orientation:landscape) {}

/* iPhone - Orientación: Vertical */
@media screen and (max-device-width: 480px) and (orientation:portrait) {}

/* iPhone - Orientación: Horizontal  */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad - Orientación: Vertical */
@media screen and (min-device-width: 481px) and (orientation:portrait) {}

/* iPad - Orientación: Horizontal  */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}
